.table {
  width: 60%;
}

.table__head {
  background-color: #383737;
}

.table__body {
  .table__cell {
    background-color: #605f5f;
  }
}

.table__cell {
  padding: 10px 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
