.app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.main-content {
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
  }
}
